.main-container {

    $content-width: 1000px;

    .table-container {
        width: $content-width;
        margin: 0 auto;
        overflow: scroll;
        .datatable {
            margin: 20px auto;

            th,
            td {
                padding: 3px 10px;
            }
        }
    }

    $btn-font-size: 18px;
    $btn-font-weight: 600;

    .btn-clean {
        display: block;
        font-size: $btn-font-size;
        font-weight: $btn-font-weight;
    }



    .toolbar {
        display: flex;

        flex-direction: row;
        width: $content-width;
        margin: 0 auto;

        .toolbar-element {
            display: block;
            position: relative;
            margin: 0 5px;
            flex: 0 1 120px;
            justify-items: center;
            max-height: 40px;
            font-size: $btn-font-size;
            font-weight: $btn-font-weight;
        }

        .btn-remove {
            display: block;
            //  display: table-cell;
            font-size: $btn-font-size;
            font-weight: $btn-font-weight;
        }



        .search-bar {
            background-color: LightGray;
            font-size: 15px;
            height: 100%;
            margin: 0;
            box-sizing: border-box;
            padding: 0;
        }

        .btn-search {
            position: absolute;
            display: block;
            margin: 0 auto;
            font-size: $btn-font-size;
            font-weight: $btn-font-weight;
        }
    }


}