.main-container {
    .datatable {
        width: 800px;
        margin: 20px auto;

        th, td {
            padding: 3px 10px;
        }
    }

    .btn-clean {
        display: block;
        margin: 0 auto;
        font-size: 18px;
        font-weight: 600;
    }
}